{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/bootstrap.min.css' %}">
    <title>Shopping site</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <ul class="navbar">
        <li class="nav-item"><a href="{% url 'home' %}" class="btn mr-0 text-dark">Home</a></li>
        <li class="nav-item"><a href="{% url 'products' %}" class="btn mr-0 text-dark">Products</a></li>
        {% if user.is_loggedin %}
        <li class="nav-item"><a href="{% url 'cart' %}" class="btn ml-0 text-dark">Cart</a></li>
        <li class="nav-item"><a href="{% url 'user' %}" class="btn ml-0 text-dark">User info</a></li>
        <li class="nav-item"><a href="{% url 'logout' %}" class="btn ml-0 text-dark">Logout</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'login' %}" class="btn ml-0 text-dark">Login</a></li>
        <li class="nav-item"><a href="{% url 'register' %}" class="btn ml-0 text-dark">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block content %}

    {% endblock %}
</body>
</html>