{% extends "main/base.html" %}
{% block content %}
<div class="container mw-100 p-0">
    <div class="jumbotron mw-100 rounded-bottom-5">
        <h1 class="display-4">Welcome to Bromart</h1>
        <p class="lead">We here sell everything at great discounts</p>
        <hr class="my-4">
        <p>From groceries to furniture, we got you covered. Here at Bromart no item or bill is too small!</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Start shopping now</a>
        </p>
      </div>
</div>
{% endblock content %}